<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cover</title>
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <style>
      
      #map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      
    </style>
  </head>
  <body>
  
    <div id="map"></div>
    
    <script src="/leaflet/leaflet.js"></script>
    <script src="/debug_render.js"></script>
    <script src="/canvas_debug_layer.js"></script>
    <script src="/kothic.js"></script>
    <script src="/osmosnimki.js"></script>
    <script src="/kothic_layer.js"></script>
    <script>
    
      // Default map options
      
      var options = {};
      
      <% if @center %>
        options.zoom = <%= @center[2] %>;
        options.center = new L.LatLng(
          <%= @center[0] %>,
          <%= @center[1] %>
        );
      <% else %>
        options.zoom = 2;
        options.center = new L.LatLng(0, 0);
      <% end %>
      
      <% if @zoom %>
        options.minZoom = <%= @zoom.min %>;
        options.maxZoom = <%= @zoom.max %>;
      <% end %>
      
      var center;
        
      if (center = window.location.hash.slice(1).match(/(\d+)\/(\-?\d+(?:\.\d+)?)\/(\-?\d+(?:\.\d+)?)/)) {
        options.center = new L.LatLng(parseFloat(center[2]), parseFloat(center[3]));
        options.zoom = parseInt(center[1]);
      }
      
      
      // Set up the map
      
      var map = new L.Map("map", options);
      
      map.on("moveend", function() {
        window.location.hash = [map.getZoom(), map.getCenter().lat, map.getCenter().lng].join("/");
      });
      
      map.on("zoomend", function() {
        window.location.hash = [map.getZoom(), map.getCenter().lat, map.getCenter().lng].join("/");
      });
      
      
      // Listen to hash changes
      
      function handleHashChange() {
        
        var center;
        
        if (center = window.location.hash.slice(1).match(/(\d+)\/(\-?\d+(?:\.\d+)?)\/(\-?\d+(?:\.\d+)?)/)) {
          map.panTo(new L.LatLng(parseFloat(center[2]), parseFloat(center[3])));
          map.setZoom(parseInt(center[1]));
        }
        
      }
      
      window.addEventListener("hashchange", function() {
        
        handleHashChange();
        
      });
      
      
      // Inspect popup
      
      var popup = new L.Popup();
      
      map.on("zoomend", function() {
        map.closePopup();
      });
      
      map.on("click", function(e) {
        
        // Get pixel position
        
        var position = map.project(e.latlng);
        
        // Get index path
        
        var index = map.getZoom() + "/" +
                    Math.floor(position.x / 256) + "/" +
                    Math.floor(position.y / 256);
                    
        // Display popup
        
        popup.setLatLng(e.latlng);
        popup.setContent("Inspect tile: <a href=\"/" + index + "/inspect\">" + index + "</a>");
        
        map.openPopup(popup);
        
      });
      
      
      // OSM base layer
      
      var osm = new L.TileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: "Map images and data &copy; OpenStreetMap contributors"
      });
      
      
      // Canvas tiles (overlay)
      
      var canvasDebugLayer = new CanvasDebugLayer("/{z}/{x}/{y}");
      
      
      // Kothic
      
      var kothic = new KothicLayer("/{z}/{x}/{y}", {
        attribution: "Rendering by <a href=\"http://github.com/kothic/kothic-js\">Kothic JS</a>",
        zoomOffset: -2,
        tileSize: 1024
      });
      
      
      // Load MapCSS images for Kothic...
      
      MapCSS.preloadSpriteImage("osmosnimki-maps", "osmosnimki.png");
      
      
      // After the MapCSS images load, add the layers and set
      // up the layer control.
      
      MapCSS.onImagesLoad = function() {
        
        map.addLayer(osm);
        map.addLayer(canvasDebugLayer);
        
        var layersControl = new L.Control.Layers({
          "OpenStreetMap": osm,
          "Kothic": kothic
        }, {
          "Debug": canvasDebugLayer
        }, {
          collapsed: false
        });

        map.addControl(layersControl);
        
      }
      
    </script>
    
  </body>
</html>
